/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Pacifico", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Supermercado One", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* My CSS Below This Line */

/*Main Home Page*/

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
}

.text {
  background-color: black;
  color: white;
  font-size: 180px;
  font-weight: bold;
  font-family: Comic Sans MS;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, rgb(35, 131, 175), rgb(82, 43, 155), rgb(125, 184, 125), rgb(82, 43, 155),  rgb(35, 131, 175));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}

p{
  color: grey;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: absolute;
  margin: 9% 35% 3% -2%;
  width: 45%;
  border: 7px inset grey;
  border-radius: 30%;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: absolute;
  margin: 15% auto;
}
a{
  color: white;
  border: 3px outset silver;
  padding: 20px;
  margin: 1%;
  border-radius: 25px;
}
a:hover{
  color: pink;
  border: 3px inset goldenrod;
}

/*About Page*/

.about-container {
  margin: auto;
  width: 60%;
}

.about-container {
  /*color: white;
  /*border: 3px outset silver;
  /*display: flex;
  /*justify-content: space-evenly;
  /*align-items: center;
  /*font-size: 30px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;
  /*margin: auto;
  /*color: white;
  /*padding: 20px;
  /*border-radius: 25px;*/
}
a:hover{
  color: pink;
  border: 3px inset goldenrod;
}

.title-img img{
  border-radius: 2%;
  margin: 5% auto;
  width: 100%;
  height: 200px;

}
.content-row {
  display: flex;
  color: white;
}

.content-row div {
  margin: 20px
}

section {
  margin-top: 20px;
}

